<!DOCTYPE html>
<html>
<style>
div {
display: flex;
justify-content: center;
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: #00BFFF;
  border: none;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  margin: 8px 4px;
  border-radius: 12px;
  margin-left: 55px;
  cursor: pointer;

</style>
<body >
<div>
<img src="https://cdn.dribbble.com/users/1017646/screenshots/11659239/media/fbf60a700855fc6ef95b83d2cbb5e47c.gif" width="600" height="400">
</div>
<br>
<br>
<h1 align = "center">ALL DATA DELETED...<h1>
</body>
</form>
  <form action='/form'><div style="margin-top: 10px;"><input type="submit" value="BACK"></div>
</form>
</html>
