<!DOCTYPE html>
<html>
<style>
div {
display: flex;
justify-content: center;
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: #00BFFF;
  border: none;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  margin: 8px 4px;
  border-radius: 12px;
  margin-left: 55px;
  cursor: pointer;

</style>
<body >
<div>
<img src="https://www.pngitem.com/pimgs/m/8-89839_question-mark-png-file-download-free-drawing-of.png" width="400" height="400">
</div>
<br>
<br>
<h1 align = "center">! EMPTY FORM !<h1>
</body>
</form>
	<br><form action='/form'><div style="margin-top: 10px;"><input type="submit" value="BACK"></div>
</form>
</html>
