<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Data Form</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="static/style.css?v=1.0.199">

<style> 
input[type=button], input[type=submit], input[type=reset] {
  background-color: #00BFFF;
  border: none;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  margin: 8px 4px;
  border-radius: 12px;
  margin-left: 55px;
  cursor: pointer;
}
</style>
</head8
<body>
    <div class="form">
    <h2 style="text-align: center;">VACCINATION CAMPAIGN</h2>
    <form action='/data' method="GET">
	<br>
       <p><b>Name</b></p><input name = 'a' class = value />
	<br>
        <p><b>Contact Number</b></p><input name = 'b' class = value />
        <br>
	<p><b>Aadhar Number</b></p><input name = 'c' class = value />
        <br>
        <p><b>City</b></p><input name = 'd'class = value /></b>
	<br> <br>
        <div style="margin-top: 10px;"><input type="submit" value= "Submit Data"</div>
    </form>
    <br><br><form action='/delete'><input type="submit" value="Delete All Data"></form>
</div>
</body>

</html>
