<!DOCTYPE html>
<html>
<style>
div {
display: flex;
justify-content: center;
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: #00BFFF;
  border: none;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  margin: 8px 4px;
  border-radius: 12px;
  margin-left: 55px;
  cursor: pointer;

</style>
<body >
<div>
<img src="https://help.formstack.com/hc/article_attachments/360015218271/image-1.jpeg" width="1000" height="500">
</div>
</body>
</form>

    <br><br><form action='/form'><div style="margin-top: 10px;"><input type="submit" value="BACK"></div>
</form>
</html>
